body {
  /* font: 100 11pt Lato, sans-serif; */
}
.jumbotron {
  background-color: @gray-lighter;
  color: @gray;
  padding: 100px 10px;
  /* font-family: Montserrat, sans-serif; */
}
@media only screen and (min-device-width: 400px) {
  .jumbotron {
    background-image: url('../assets/winter_trees.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }
}
.container-fluid {
  padding: 4px 50px;
}
#tagline {
  margin: 0 auto; 
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-weight: normal;
}
#search{
  margin: 0 auto;
}
#search-group {
  background: rgba(256,256,256,0.8);
  padding: 20px;
  margin: 0 auto;
  width: 65%;
  border-radius: 10px;    
}
.input-group {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}
.form-control{
  margin: 0 auto;
}
.input-group-addon {
  margin: 0 auto;
}
.clear {
  clear: both;
  height: 0px;
}
.navbar-inverse .navbar-brand {
  color: white;
  font-size: 16pt;
}
.panel-default > .panel-heading-custom {
  background: #eaf7f9;
}
#keywords {
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
}
#keywords > p {
    font-size: 12pt;
}


